<%- include('../adminLayout/adminHeader'); -%>
<a class="nav-link " href="/admin/home/category/add">
    <i class="fas fa-shopping-cart"></i> 
    Category
  </a>

<%- include ('../adminLayout/adminFooter') -%>
